body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.right-aligned-navbar {
  float: right;
  margin-right: 20px;
}

.right-aligned-button {
  float: right;
}

.modal-description {
  width: 60%;
  padding-left: 5px;
}

#modal-image {
  width: 40%;
  height: auto;
  padding-right: 5px;
}

#exit-modal {
  float: right;
  color: darkred;
}

.species-name {
  float: left;
}

i.modal-close::before {
  font-size: 1.5em;
}

.clear {
  clear: both;
}

.single-card-tile {
  margin: 1em 1em !important;
  display: inline-block !important;
  width: 23% !important;
}
